<html>
<head>
    <title>Database</title>
<head>
<body bgcolor=white text=black>
    <h2>SizovMV_Courwork</h2>
      <form method='POST' action=''>
              <label for=grind> 1. Создать отчет об аренде билбордов за 2017 год по форме: Номер билборда, адрес установки, месяц, общее количество дней аренды за месяц. </label>
             <p><button type = "submit" value = "1" name = "send"> Отправить </button></p>

              <label for=grind> 2. Покажите номера билбордов, которые арендатор по фамилии </label>
             <input type=text id=x1 name=x1>
              <label for=grind> арендовал в апреле 2017 года </label>
             <p><button type = "submit" value = "2" name = "send"> Отправить </button></p>

              <label for=grind> 3. Покажите все сведения о билборде с самой низкой стоимостью аренды в день </label>
             <p><button type = "submit" value = "3" name = "send"> Отправить </button></p>

              <label for=grind> 4. Создайте отчет об аренде за 2017 год по форме: Фамилия арендатора, номер билборда, общее количество дней аренды </label>
             <p><button type = "submit" value = "4" name = "send"> Отправить </button></p>

              <label for=grind> 5.	Показать фамилии арендаторов, которые заключили долгосрочные договора аренды, но пока ни разу не сделали заказ на аренду </label>
             <p><button type = "submit" value = "5" name = "send"> Отправить </button></p>

              <label for=grind> 6.	Показать фамилии арендаторов, которые не делали заказов на аренду в марте 2017 года. </label>
             <p><button type = "submit" value = "6" name = "send"> Отправить </button></p>
         </form> <br><br>
      <form method='GET' action='' align = left>
           <button type = "submit" value = "exit" name = "exit"> Главное меню </button>
      </form>
    <!--    <form method='POST' action=''>
           <label for=grind> 7. Показать отчет за </label>
			 <input type=text id=x2 name=x2>
			 <label for=grind> год </label>
              <p><input value='send7' name = '7' type='submit'></p>
       </form> <br><br> -->
		   <!--   <form method='POST' action=''>
              <label for=grind> 8. Показать отчет за </label>
			 <input type=text id=x3 name=x3>
			  <label for=grind> год </label>
              <p><input value='send8' name = '8' type='submit'></p>
         </form> <br><br> -->
</body>
<html>
